<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main 페이지</title>
    {{>layout/import}}
    <link href="{{springMacroRequestContext.request.contextPath}}/assets/dist/css/index.css" rel="stylesheet">
    <script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/index.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body>
{{>layout/header}}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {{#headerViewSize}}
            <button type="button" class="btn{{.}}" data-bs-target="#myCarousel" data-bs-slide-to="{{.}}"></button>
        {{/headerViewSize}}
    </div>
    <div class="carousel-inner">
        {{#headerView}}
            <div class="carousel-item carousel-item-box ">
                <div class="p-4 p-md-5 carousel-items  row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-white rounded">
                    <div class="col-md-6 d-flex justify-content-end ">
                        {{#thumbnail}}
                            <a href="/course/detailcourse?id={{id}}"><img class="bd-placeholder-img card-img-top"
                                                                          style="width:50rem ; height:350px; max-width:100%;max-height:100%"
                                                                          src="{{thumbnail}}"></a>

                        {{/thumbnail}}

                        {{^thumbnail}}
                            <a href="/course/detailcourse?id={{id}}">
                            <svg class="bd-placeholder-img card-img-top" width="50rem" height="350px"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>썸네일없음</title>
                                <rect width="50rem" height="100%" fill="gray"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">썸네일없음</text>
                            </svg>
                            </a>
                        {{/thumbnail}}

                    </div>
                    <div class="col-md-6 info">
                        <h1 class="sm-mg display-4 fst-italic my-4">{{courseName}}</h1>
                        <p class="sm-mg lead my-3">강사명 : <a class="link-secondary"
                                                            href="/user/userDetailInfo/{{user.username}}">{{user.nickname}}
                            ({{user.username}})</a></p>
                        <p class="sm-mg  lead mb-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="star-ratings">
                                    <div id="star" style="width: {{starScope}}%" class="star-ratings-fill ">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                    <div class="star-ratings-base ">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                                <div class="star-ratings my-1">
                                    <small id="scope" class="text-muted"> ({{scope}})</small>
                                </div>
                            </div>
                        </div>
                        <p id="date" class=" sm-mg text-muted my-3 ">
                            강좌 생성일 : {{createDate}}
                        </p>
                    </div>
                </div>
            </div>

        {{/headerView}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container marketing">

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center my-3">
            <h1 class="fw-light my-2">추천강사</h1>
        </div>

    </div>

    <div class="row">
        {{#userList}}
            <div class="col-lg-4">
                {{^profileImage}}
                    <svg class="bd-placeholder-img rounded-circle my-3" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"/>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                {{/profileImage}}
                {{#profileImage}}
                    <img class="bd-placeholder-img rounded-circle my-3" width="140" height="140" src="{{profileImage}}">
                {{/profileImage}}
                <h2 class="my-3">{{nickname}}</h2>
                {{#selfIntroduction}}
                    <p class="my-3">{{selfIntroduction}}</p>
                {{/selfIntroduction}}
                {{^selfIntroduction}}
                    <p class="my-3">자기소개 없음</p>
                {{/selfIntroduction}}

                <p><a class="btn btn-secondary my-3" href="/user/userDetailInfo/{{username}}">>> 관련 강의</a></p>
            </div><!-- /.col-lg-4 -->
        {{/userList}}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
{{#firstCourse}}
        <div class="row featurette" onclick="location.href='/course/detailcourse?id={{id}}'">
        <h1>평균 별점이 가장높은 강의</h1>
        <div class="col-md-7 featurette-heading">
            <div class="col-md-6 info">
                <h2 class="sm-mg display-4 fst-italic my-4">{{courseName}}
                    <p class="sm-mg lead my-3">강사명 : <a class="link-secondary"
                                                        href="/user/userDetailInfo/{{user.username}}">{{user.nickname}}
                        ({{user.username}})</a></p>
                    <p class="sm-mg  lead mb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <div class="star-ratings">
                                <div id="star" style="width: {{starScope}}%" class="star-ratings-fill ">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base ">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                            <div class="star-ratings my-1">
                                <small id="scope" class="text-muted"> ({{scope}})</small>
                            </div>
                        </div>
                    </div>
                </h2>
            </div>
        </div>
        <div class="col-md-5">
            {{#thumbnail}}
                <a href="/course/detailcourse?id={{id}}"><img class="bd-placeholder-img"
                                                              width="500"
                                                              height="500"
                                                              src="{{thumbnail}}"></a>
            {{/thumbnail}}
            {{^thumbnail}}
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"/>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">썸네일 없음</text>
                </svg>
            {{/thumbnail}}
        </div>
    </div>
{{/firstCourse}}
<hr class="featurette-divider">

{{#secondCourse}}
    <div class="row featurette">
        <div class="d-flex justify-content-end">
            <h1>수강평이 가장많은 강의</h1>
        </div>
        <div class="col-md-7 order-md-2 featurette-heading" onclick="location.href='/course/detailcourse?id={{id}}'">
        <div class="info">
            <div class="d-flex justify-content-end">
                <h2 class="sm-mg display-4 fst-italic my-4">{{courseName}}
                    <p class="sm-mg lead my-3">강사명 : <a class="link-secondary"
                                                        href="/user/userDetailInfo/{{user.username}}">{{user.nickname}}
                        ({{user.username}})</a></p>
                    <p class="sm-mg  lead mb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <div class="star-ratings">
                                <div id="star" style="width: {{starScope}}%" class="star-ratings-fill ">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base ">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                            <div class="star-ratings my-1">
                                <small id="scope" class="text-muted"> ({{scope}})</small>
                            </div>
                        </div>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-5 order-md-1">
        {{#thumbnail}}
            <a href="/course/detailcourse?id={{id}}"><img class="bd-placeholder-img"
                                                          width="500"
                                                          height="500"
                                                          src="{{thumbnail}}"></a>
        {{/thumbnail}}
        {{^thumbnail}}
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>
        {{/thumbnail}}

    </div>
    </div>
{{/secondCourse}}
<hr class="featurette-divider">
{{#thirdCourse}}
    <div class="row featurette" onclick="location.href='/course/detailcourse?id={{id}}'">
    <h1>수강생이 가장 많은 강의</h1>
    <div class="col-md-7 featurette-heading">
        <div class="col-md-6 info">
            <h2 class="sm-mg display-4 fst-italic my-4">{{courseName}}
                <p class="sm-mg lead my-3">강사명 : <a class="link-secondary"
                                                    href="/user/userDetailInfo/{{user.username}}">{{user.nickname}}
                    ({{user.username}})</a></p>
                <p class="sm-mg  lead mb-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <div class="star-ratings">
                            <div id="star" style="width: {{starScope}}%" class="star-ratings-fill ">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="star-ratings-base ">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                        <div class="star-ratings my-1">
                            <small id="scope" class="text-muted"> ({{scope}})</small>
                        </div>
                    </div>
                </div>
            </h2>
        </div>
    </div>
    <div class="col-md-5">
        {{#thumbnail}}
            <a href="/course/detailcourse?id={{id}}"><img class="bd-placeholder-img"
                                                          width="500"
                                                          height="500"
                                                          src="{{thumbnail}}"></a>
        {{/thumbnail}}
        {{^thumbnail}}
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">썸네일 없음</text>
            </svg>
        {{/thumbnail}}
    </div>
    </div>
{{/thirdCourse}}
<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->


{{>layout/footer}}