<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main 페이지</title>
    {{>layout/import}}
    <link href="../assets/dist/css/index.css" rel="stylesheet">
    <script src="../assets/dist/js/index.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body>
{{>layout/header}}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {{#headerViewSize}}
            <button type="button" class="btn{{.}}" data-bs-target="#myCarousel" data-bs-slide-to="{{.}}"></button>
        {{/headerViewSize}}
    </div>
    <div class="carousel-inner">
        {{#headerView}}
            <div class="carousel-item carousel-item-box ">
                <div class="p-4 p-md-5 carousel-items  row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-white rounded">
                    <div class="col-md-6 d-flex justify-content-end ">
                        {{#thumbnail}}
                            <a href="/course/detailcourse?id={{id}}"><img class="bd-placeholder-img card-img-top"
                                                                          style="width:50rem ; height:350px"
                                                                          src="{{thumbnail}}"></a>

                        {{/thumbnail}}

                        {{^thumbnail}}
                            <a href="/course/detailcourse?id={{id}}">
                            <svg class="bd-placeholder-img card-img-top" width="50rem" height="350px"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>썸네일없음</title>
                                <rect width="50rem" height="100%" fill="gray"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">썸네일없음</text>
                            </svg>
                            </a>
                        {{/thumbnail}}

                    </div>
                    <div class="col-md-6 info">
                        <h1 class="sm-mg display-4 fst-italic my-4">{{courseName}}</h1>
                        <p class="sm-mg lead my-3">강사명 : {{user.nickname}}({{user.username}})</p>
                        <p class="sm-mg  lead mb-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="star-ratings">
                                    <div id="star" style="width: {{starScope}}%" class="star-ratings-fill ">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                    <div class="star-ratings-base ">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                                <div class="star-ratings my-1">
                                    <small id="scope" class="text-muted"> ({{scope}})</small>
                                </div>
                            </div>
                        </div>
                        <p id="date" class=" sm-mg text-muted my-3 ">
                            강좌 생성일 : {{createDate}}
                        </p>
                    </div>
                </div>
            </div>

        {{/headerView}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        {{#userList}}
            <div class="col-lg-4">
            {{^profileImage}}
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                {{/profileImage}}
                {{#profileImage}}
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{profileImage}}" >
                {{/profileImage}}
                <h2>{{nickname}}</h2>
                {{#selfIntroduction}}
                    <p>{{selfIntroduction}}</p>
                {{/selfIntroduction}}
                {{^selfIntroduction}}
                    <p>자기소개 없음</p>
                {{/selfIntroduction}}

                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        {{/userList}}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span
                    class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span
                    class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like
                with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


{{>layout/footer}}