<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>강좌</title>
    {{>layout/import}}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>



</head>

<body>
{{>layout/header}}


<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">나의 수강 목록</h1>
                <p>
                </p>
                <form method="get" action="/course/myCourseView" class="d-flex">
                    <input class="form-control me-sm-2" type="text" name="search" placeholder="강좌명이나 강사명을 검색해주세요!">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <p>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{#course}}
                    <div class="col">
                        <div class="card shadow-sm">
                            {{#thumbnail}}
                                <a href="/course/detailcourse?id={{id}}"><img class="bd-placeholder-img card-img-top"
                                                                              width="100%" height="300px"
                                                                              src="{{thumbnail}}"></a>
                            {{/thumbnail}}

                            {{^thumbnail}}
                                <a href="/course/detailcourse?id={{id}}">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="300px"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>썸네일없음</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">썸네일없음</text>
                                </svg>
                                </a>
                            {{/thumbnail}}
                            <div class="card-body">
                                <h5 class="card-text">{{courseName}}</h5>
                                <p class="card-text">강사명 : {{teachName}}({{user.username}})</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <div class="star-ratings">
                                            <div id="star" style="width: {{starScope}}%"
                                                 class="star-ratings-fill space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <div class="star-ratings">
                                            <small id="scope" class="text-muted">({{scope}})</small>
                                        </div>
                                    </div>
                                    <small id="date" class="text-muted mt-1 ">
                                        강좌 생성일 : {{createDate}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/course}}
            </div>

            <hr class="my-4">
            <div class="col" style=" display: flex; justify-content: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <li class="page-item disabled" id="previous">
                            <a class="page-link" href="#" id="previousAtag" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>


                        <li class="page-item" id="next">
                            <a class="page-link" id="nextAtag" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>


</main>
<script>
    $(document).ready(function () {

        var Previous ={{Previous}};
        var Next ={{Next}};
        var pageNumber ={{pageNumber}};
        var startPage ={{startPage}};
        var endPage ={{endPage}};
        var totalElements ={{totalElements}}
        var preNum = parseInt(pageNumber) - 1;
        var nexNum = parseInt(pageNumber) + 1;
        const URLSearch = new URLSearchParams(location.search);
        var search = URLSearch.get('search');
        var html = "";
        if (totalElements != 0) {
            for (var num = startPage; num <= endPage; num++) {
                if (num == pageNumber) {
                    if (URLSearch.get('search') != null) {
                        html += '<li class="page-item active"><a class="page-link" href="/course/myCourseView?search=' + search + '&page=' + num + '">' + num + '</a></li>';
                    } else {
                        html += '<li class="page-item active"><a class="page-link" href="/course/myCourseView?page=' + num + '">' + num + '</a></li>';
                    }
                } else {
                    if (URLSearch.get('search') != null) {
                        html += '<li class="page-item"><a class="page-link" href="/course/myCourseView?search=' + search + '&page=' + num + '">' + num + '</a></li>';
                    } else {
                        html += '<li class="page-item"><a class="page-link" href="/course/myCourseView?page=' + num + '">' + num + '</a></li>';
                    }
                }
            }
        } else if (totalElements == 0 && URLSearch.get('search') != null) {
            location.href = '/course/myCourseView';
            alert("검색결과가 없습니다");
        }
        $("#previous").after(html);

        if (Previous) {
            $("#previous").removeClass("disabled");
            if (URLSearch.get('search') != null) {

                $("#previousAtag").attr("href", '/course/myCourseView?search=' + search + '&page=' + preNum);
            } else {
                $("#previousAtag").attr("href", '/course/myCourseView?page=' + preNum);
            }
        } else {
            $("#previous").addClass("disabled");


        }


        if (Next) {
            $("#next").removeClass("disabled");
            if (URLSearch.get('search') != null) {
                $("#nextAtag").attr("href", '/course/myCourseView?search=' + search + '&page=' + nexNum);
            } else {
                $("#nextAtag").attr("href", '/course/myCourseView?page=' + nexNum);
            }
        } else {
            $("#next").addClass("disabled");

        }


    });

</script>



{{>layout/footer}}
