<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>강좌</title>
    {{>layout/import}}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>

<body>
{{>layout/header}}

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">생성한 강의 목록</h1>
                <p>
                </p>
                <form method="get" action="/course/info/myCourseListSearch" class="d-flex">
                    <input class="form-control me-sm-2" type="text" name="search" placeholder="강좌명입력">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <p>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-2">
                                    강의 번호
                                </th>
                                <th class="col-md-6">
                                    강의명
                                </th>
                                <th class="col-md-2">
                                    강의 생성일
                                </th>
                                <th class="col-md-1">
                                    평균 평점
                                </th>
                                <th class="col-md-2">
                                    학생수
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#course}}
                                <tr onClick="location.href='/courseboard/BoardManagement/{{id}}'">
                                    <td>
                                        {{id}}
                                    </td>
                                    <td>
                                        {{courseName}}
                                    </td>
                                    <td>
                                        {{createDate}}
                                    </td>
                                    <td>
                                        {{scope}}
                                    </td>
                                    <td>
                                        {{^userJoinCount}}0{{/userJoinCount}}
                                        {{#userJoinCount}}{{userJoinCount}}{{/userJoinCount}}
                                    </td>
                                </tr>
                            {{/course}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <hr class="my-4">
            <div class="col" style=" display: flex; justify-content: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <li class="page-item disabled" id="previous">
                            <a class="page-link" href="#" id="previousAtag" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item" id="next">
                            <a class="page-link" id="nextAtag" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>


</main>
<script>
    $(document).ready(function () {

        Previous ={{Previous}};
        var Next ={{Next}};
        var pageNumber ={{pageNumber}};
        var totalElements ={{totalElements}}
        var preNum = parseInt(pageNumber) - 1;
        var nexNum = parseInt(pageNumber) + 1;
        var totalPages ={{totalPages}};
        const URLSearch = new URLSearchParams(location.search);
        var search = URLSearch.get('search');
        var html = "";
        if (totalElements != 0) {
            for (var num = 1; num <= totalPages; num++) {
                if (num == pageNumber) {
                    if (URLSearch.get('search') != null) {
                        html += '<li class="page-item active"><a class="page-link" href="/course/info/myCourseListSearch?search=' + search + '&page=' + num + '">' + num + '</a></li>';
                    } else {
                        html += '<li class="page-item active"><a class="page-link" href="/course/info/mycourselist?page=' + num + '">' + num + '</a></li>';
                    }
                } else {
                    if (URLSearch.get('search') != null) {
                        html += '<li class="page-item"><a class="page-link" href="/course/info/myCourseListSearch?search=' + search + '&page=' + num + '">' + num + '</a></li>';
                    } else {
                        html += '<li class="page-item"><a class="page-link" href="/course/info/mycourselist?page=' + num + '">' + num + '</a></li>';
                    }
                }
            }
        } else if (totalElements == 0 && URLSearch.get('search') != null) {
            location.href = '/course/info/mycourselist';
            alert("검색결과가 없습니다");
        }
        $("#previous").after(html);

        if (Previous) {
            $("#previous").removeClass("disabled");
            if (URLSearch.get('search') != null) {

                $("#previousAtag").attr("href", '/course/info/myCourseListSearch?search=' + search + '&page=' + preNum);
            } else {
                $("#previousAtag").attr("href", '/course/info/mycourselist?page=' + preNum);
            }
        } else {
            $("#previous").addClass("disabled");

        }

        if (Next) {
            $("#next").removeClass("disabled");
            if (URLSearch.get('search') != null) {
                $("#nextAtag").attr("href", '/course/info/myCourseListSearch?search=' + search + '&page=' + nexNum);
            } else {
                $("#nextAtag").attr("href", '/course/info/mycourselist?page=' + nexNum);
            }
        } else {
            $("#next").addClass("disabled");
        }

    });

</script>

{{>layout/footer}}
