<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>로그인</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="../assets/dist/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <form name="joinForm">

        <h1 class="h3 mb-3 fw-normal">회원가입</h1>

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="id" placeholder="ID">
            <label for="floatingInput">ID</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="email" placeholder="example@gmail.com">
            <label for="floatingPassword">email</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="radio" name="role" value="ROLE_USER" checked> 학생
            </label>
            <label>
                <input type="radio" name="role" value="ROLE_MANAGER"> 선생님
            </label>
        </div>

        <button type="button"  id="btn"  class="w-50 btn btn-lg btn-primary">회원가입</button>

    </form>
    <input id="check"type="hidden" value="0">


</main>
<script>



    $(document).ready(function() {


        var check;
        autoForm();
       /* $(window).on("beforeunload", callback);
        function callback(){
            autoForm();
            if (check == "0") {
                $.ajax({
                    type : "post",
                    url : "/joinFails",
                    data : {
                        data : check,
                    },
                    success : function(data){
                        if (data=1) {
                            location.replace(data);
                        }
                        history.go(1);

                    },
                    error:function(request, error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            }

        }*/


    });

    $('#btn').click(function(event){

        var queryString = $("form[name=joinForm]").serialize() ;
        if (joinCheck() == 1) {
        $.ajax({
            type : "post",
            url : "/join",
            data : queryString,
            cache : false,
            success : function(data){
                alert("회원가입을 환영합니다.");
                $('#check').val("1");
                location.replace(data);
            },
            error:function(request, error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                alert("회원가입실패");
            }
        });

        }
    });

    var emailTest = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    function joinCheck(){
        if($('#id').val() == ''){
            alert('아이디를 입력하세요');
            $('#id').focus();
            return;
        }else if($('#password').val() == ''){
            alert('비밀번호를 입력하세요');
            $('#password').focus();
            return;
        }else if($('#email').val() == ''){
            alert('이메일을 입력하세요');
            $('#email').focus();
            return;
        }else if(!emailTest.test($('#email').val())){
            alert("유효하지않은 이메일입니다.");
            $('#email').focus();
            return;
        }else{
            return 1;
        }
    };

    function autoForm() {
        var username="";
        var email="";
        {{#user}}
            username='{{username}}';
            var email='{{email}}';
        {{/user}}
        if(!username==""&&!email=="") {
            $('#id').val(username);
            $('#id').attr('disabled','disabled');
            $('#password').val("Password");
            $('#password').attr('disabled','disabled');
            $('#email').val(email);
            $('#email').attr('disabled','disabled');
        }else {

            $('#id').val("");
            $('#password').val("");
            $('#email').val("");
        }

         check=$('#check').val();
    }



</script>




</body>
</html>

