<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>로그인</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="../assets/dist/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <form name="loginForm">
        <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">로그인</h1>

        <div class="form-floating">
            <input type="username" name="username" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 아이디 기억
            </label>
        </div>
        <button type="button" id="btn" class="w-50 btn btn-lg btn-primary">로그인</button>
        <br>
        <br>
        <hr>
        <br>
        <a href="/oauth2/authorization/google"><img class="mb-4" src="../assets/brand/google.svg" alt="" width="72" height="57"></a>
        <a href="/oauth2/authorization/facebook"><img class="mb-4" src="../assets/brand/facebook.svg" alt="" width="72" height="57"></a>
        <a href="/oauth2/authorization/naver"><img class="mb-4" src="../assets/brand/naver.svg" alt="" width="72" height="57"></a>


        <p class="mt-5 mb-3 text-muted">아직 회원이 아니세요?   <a href="/joinForm">회원가입</a></p>
    </form>


</main>
<script>
    var code = new URLSearchParams(location.search).get('dual');
    if (code == 1) {
        alert("Duplicate login");
        location.href="/user/loginForm";
    };


    $('#btn').click(function(){
        var queryString = $("form[name=loginForm]").serialize() ;
        $.ajax({
            type : "post",
            url : "/login",
            data : queryString,
            success : function(data){
                alert(data);
                location.replace(data);
            },
            error:function(request, error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                alert("회원가입실패");
            }
        });
    });




</script>



</body>
</html>

