<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>유저정보</title>

    {{>layout/import}}
    <link href="{{springMacroRequestContext.request.contextPath}}/assets/dist/css/user.info.css" rel="stylesheet">
    <script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/userinfo.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>

{{>layout/header}}

<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>유저정보</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-4 col-lg-2 ">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">메뉴</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-item d-flex lh-sm user active">
                        <a  class="none-active text-blue">
                            <div class="text-break d-flex">
                                <i class="menu-icon bi bi-person-circle"></i>
                                <h6 class="my-0">유저 정보</h6>
                            </div>
                        </a>
                    </li>
                    <li class="list-item d-flex lh-sm security">
                        <a  class="none-active">
                            <div class="text-break d-flex">
                                <i class=" menu-icon bi bi-key-fill"></i>
                                <h6 class="my-0">계정 보안</h6>
                            </div>
                        </a>
                    </li>

                </ul>

            </div>



            <div class="col-md-3 col-lg-3 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">프로필 사진</span>
                </h4>

                <div>
                    <img src="https://github.com/mdo.png" alt="mdo" width="100%"  class="rounded-circle">
                </div>


                <form class="d-flex justify-content-end" >

                    <button type="button" class="btn btn-secondary">
                        <i class="bi bi-pencil"></i>
                        변경
                    </button>

                </form>
            </div>

            <div class="col-md-5 col-lg-7">
                <h4 class="mb-3">나의 Profile</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
{{#user}}
                        <div class="col-12">
                            <label for="lastName" class="form-label">id</label>
                            <input type="text" class="form-control" id="username" value="{{username}}" disabled>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">이메일</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="{{email}}" required>
                            <div class="invalid-feedback">
                                이메일 형식이 틀립니다.
                            </div>
                        </div>

{{/user}}

                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" id="userInfoChangeBtn" type="button">회원 정보 변경</button>
                </form>
            </div>
        </div>
    </main>


</div>

<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/form-validation.js"></script>
</body>
</html>
