<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseBoard</title>
    {{>layout/import}}


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->

    <link href="{{springMacroRequestContext.request.contextPath}}/assets/dist/css/courseboard.css" rel="stylesheet">
    <script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/summernote/summernote-lite.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet"
          href="{{springMacroRequestContext.request.contextPath}}/assets/dist/summernote/summernote-lite.css">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">강의 관리페이지</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/main/index">홈으로가기</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row mt-3">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse overflow-auto">
            <div class="position-sticky pt-3">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>강의 목차</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column" id="navResult">


                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>강의 관리</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a role="button" class="nav-link" id="addBtn">
                            <span data-feather="file-text"></span>
                            강의 회차 추가
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="button" class="nav-link" id="courseInfoUpdateBtn">
                            <span data-feather="file-text"></span>
                            강의 정보 변경
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="button" class="nav-link" id="statisticsBtn">
                            <span data-feather="file-text"></span>
                            통계
                        </a>
                    </li>

                </ul>
            </div>
        </nav>


        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
            <div id="viewBox" hidden>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#main"
                                type="button" role="tab" aria-controls="main" aria-selected="true">강의 뷰
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="update-tab" data-bs-toggle="tab" data-bs-target="#update"
                                type="button" role="tab" aria-controls="update" aria-selected="false">강의내용 수정
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#delete"
                                type="button" role="tab" aria-controls="delete" aria-selected="false">강의 삭제
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                        <div id="result">

                            <!--메인내용 -->


                        </div>
                    </div>
                    <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab">
                        <div>
                            <div>
                                <div class="py-5 text-center">
                                    <h2>강의 회차 수정</h2>
                                </div>

                                <div class="row g-5 mb-5">
                                    <div class="col-md-12 col-lg-12">
                                        <form id="courseBoardUpdateForm" class="needs-validation">
                                            <div class="row g-3">

                                                <div class="col-sm-12">
                                                    <label for="updateTitle" class="form-label">제목</label>
                                                    <input type="text" name="updateTitle" class="form-control"
                                                           id="updateTitle"
                                                           placeholder="ex) 1강 : 영상올리기" required>
                                                    <div class="invalid-feedback">
                                                        강의 차수 제목을 입력해주세요.
                                                    </div>
                                                </div>


                                                <div class="col-lg-12">
                                                    <label for="updateContents" class="form-label">강의 내용</label>
                                                    <textarea class="summernote" id="updateContents" name="contents"
                                                              required></textarea>
                                                    <div class="invalid-feedback">
                                                        강의 내용을 입력해주세요
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <label for="updateFile" class="form-label">첨부파일</label>
                                                    <input type="file" class="form-control" id="updateFile"
                                                           placeholder="첨부파일"
                                                           value="" name="updateFile"
                                                           multiple="multiple">
                                                </div>
                                                <span>아래에 있는 파일이 첨부됩니다 삭제하실 파일은 - 를 클릭해주세요 (중복파일은 업로드되지않습니다)</span>

                                                <div id="updateFileChange">
                                                </div>

                                            </div>

                                            <hr class="my-4">
                                            <button type="button" id="updateCourseBoardBtn"
                                                    class="w-100 btn btn-primary btn-lg">강의 수정하기
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="delete" role="tabpanel" ari a-labelledby="delete-tab">
                        <div>
                            <div class="pt-5 pb-3 text-center">
                                <h2 class=""> 강의를 삭제하시겠습니까?</h2>
                                <p>강의를 삭제하시려면 아래에 삭제하기를 입력하신후에 버튼을 눌러주세요</p>
                            </div>
                            <div class="py-3 d-flex justify-content-center">
                                <div class="col-md-4 col-lg-2 col-sm-8">
                                    <input type="text" id="deleteText" class="form-control text-center"
                                           placeholder="삭제하기" value="" required>
                                </div>
                            </div>
                            <div class="py-3 d-flex justify-content-center">
                                <button id="deleteBtn" class="btn btn-danger" type="button" role="tab">삭제하기</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>




            {{>courseboard/courseBoardCreate}}
            {{>courseboard/courseInfoUpdate}}
            {{>courseboard/statistics}}


        </div>
    </div>
</div>


<script type="text/javascript">

    $('.summernote').summernote({
        height: 500,
        lang: "ko-KR",
        placeholder: '강의 내용을 입력해주세요 동영상이나 이미지도 첨부가능합니다.',
        callbacks: {
            onImageUpload: function (files, editor, welEditable) {
                for (var i = 0; i < files.length; i++) {
                    sendFile(files[i], this);
                }
            }
        }
    });

    function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append('file', file);
        $.ajax({
            data: form_data,
            type: "POST",
            url: '/image',
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (url) {
                $(el).summernote('insertImage', url, function ($image) {
                    $image.css('width', "50%");
                });
            }
        });
    }


    function getCourseId() {

        var courseId ={{courseId}};
        return courseId;
    }
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/jquery.counterup.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/form-validation.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/courseboard.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/management.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/dashboard.js"></script>

</body>
</html>
