<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseBoard</title>
    {{>layout/import}}


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->

    <link href="{{springMacroRequestContext.request.contextPath}}/assets/dist/css/courseboard.css" rel="stylesheet">
    <script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/summernote/summernote-lite.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet"
          href="{{springMacroRequestContext.request.contextPath}}/assets/dist/summernote/summernote-lite.css">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">강의 관리페이지</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/main/index">홈으로가기</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row mt-3">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>강의 목차</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column">

                    {{#courseList}}
                        <li class="nav-item" s>
                            <a role="button" class="courseboard-href nav-link" aria-current="page" data-id="{{id}}">
                                {{title}}
                            </a>
                        </li>
                    {{/courseList}}


                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>강의 관리</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" id="addBtn">
                            <span data-feather="file-text"></span>
                            강의 회차 추가
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <span data-feather="file-text"></span>
                            통계
                        </a>
                    </li>

                </ul>
            </div>
        </nav>


        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
            <div id="viewBox" hidden>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#main"
                                type="button" role="tab" aria-controls="main" aria-selected="true">강의 뷰
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="update-tab" data-bs-toggle="tab" data-bs-target="#update"
                                type="button" role="tab" aria-controls="update" aria-selected="false">강의내용 수정
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#delete"
                                type="button" role="tab" aria-controls="delete" aria-selected="false">강의 삭제
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                        <div id="result">
                            <main>
                                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                    <h1 class="h2"></h1>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                    </div>
                                </div>
                                <div class="my-4 w-100" id="content" width="900" height="380"></div>
                                <h2>Section title</h2>
                                <div class="table-responsive">
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab">업데이트</div>
                    <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">삭제</div>
                </div>
            </div>
            <div id="createBox" hidden>
                <div>
                    <div class="py-5 text-center">
                        <h2>강의 회차 생성</h2>
                        <p class="lead">강의 커리큘럼을 만들어주세요</p>
                        <p class="lead">동영상의 유튜브에 업로드후에 영상링크로 첨부해주세요!</p>

                    </div>

                    <div class="row g-5 mb-5">
                        <div class="col-md-12 col-lg-12">
                            <h4 class="mb-3">강좌 정보 입력</h4>
                            <form class="needs-validation" method="post"  novalidate
                                  id="boardCreate">
                                <div class="row g-3">

                                    <div class="col-sm-12">
                                        <label for="title" class="form-label">제목</label>
                                        <input type="text" name="title" class="form-control" id="title"
                                               placeholder="ex) 1강 : 영상올리기"
                                               value="" required>
                                        <div class="invalid-feedback">
                                            강의 차수 제목을 입력해주세요
                                        </div>
                                    </div>




                                    <div class="col-12">
                                        <label for="summernote" class="form-label">강의 내용</label>
                                        <textarea class="summernote" id="contents" name="contents"
                                                  required></textarea>
                                        <div class="invalid-feedback">
                                            강좌 내용을 입력해주세요
                                        </div>
                                    </div>


                                    <div class="col-sm-12">
                                        <label for="attachments" class="form-label">첨부파일</label>
                                        <input type="file" class="form-control" id="file"
                                               placeholder="첨부파일"
                                               value=""  name="file"
                                               multiple="multiple"
                                               required>
                                    </div>
                                    <span>아래에 있는 파일이 첨부됩니다 삭제하실 파일은 - 를 클릭해주세요</span>

                                    <div id="fileChange">
                                    </div>


                                </div>

                                <hr class="my-4">
                                <a id="createBtn" class="w-100 btn btn-primary btn-lg">강의 커리큘럼 생성하기
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('.summernote').summernote({
        height: 500,
        lang: "ko-KR",
        placeholder: '강의 내용을 입력해주세요 동영상이나 이미지도 첨부가능합니다.',
        callbacks : {
            onImageUpload : function(files, editor, welEditable) {
                for (var i = 0; i < files.length; i++) {
                    sendFile(files[i], this);
                }
            }
        }
    });

    function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append('file', file);
        $.ajax({
            data : form_data,
            type : "POST",
            url : '/image',
            cache : false,
            contentType : false,
            enctype : 'multipart/form-data',
            processData : false,
            success : function(url) {
                $(el).summernote('insertImage', url, function($image) {
                    $image.css('width', "50%");
                });
            }
        });
    }


    function getCourseBoard() {
        var array = [];
        {{#courseList}}
            var CourseBoardData = {
                CourseBoardData: {
                    id: '{{id}}',
                    title: '{{title}}',
                    contents: ' {{{contents}}}',
                    views: '{{views}}',
                    createDate: ' {{createDate}}',
                    teachName: '{{teachName}}',
                    courseName: ' {{courseName}}'
                }
            }
            array.push(CourseBoardData);
        {{/courseList}}
        return array;
    }
    function getCourseId() {

        var courseId ={{courseId}};
        return courseId;
    }
</script>



<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/courseboard.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/assets/dist/js/management.js"></script>

</body>
</html>
