<hr class="my-4">
<div class="col" style=" display: flex; justify-content: center;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item disabled previous">
                <a class="page-link previousAtag"  aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>


            <li class="page-item next">
                <a class="page-link nextAtag"  aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
