<hr class="my-4">
<div class="col" style=" display: flex; justify-content: center;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item disabled" id="previous">
                <a class="page-link" href="#" id="previousAtag" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>


            <li class="page-item" id="next">
                <a class="page-link" id="nextAtag" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
